<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


        .main-container {
            width: 100%;
            height: 780px;
            font-family: 'Inter', sans-serif;
            display: flex;
        }


        .logo-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .logo-container img {
            width: 200px;
            height: 100px;
        }

        .logo2 img {
            width: 100px;
            height: 100px;
            margin-right: 500px;
        }

        .logo3 {
            background-color: rgb(135, 177, 222);
            width: 160px;
            padding-top: 40px;
            position: absolute;
            top: 0px;
            right: 40px;
        }

        .logo3 img {
            width: 100px;
            height: 40px;
            margin-right: 100px;
            padding-left: 20px;

        }

        h1 {
            font-family: 'Inter', sans-serif;
        }

        .left {
            width: 20%;
            height: 780px;
            background: linear-gradient(to top, blue, rgb(70, 181, 241));
        }

        .right {
            width: 98%;
            padding: 30px;
            background-color: rgb(240, 240, 246);
        }

        .line {
            width: 33%;
            height: 1px;
            border: 1px solid black;
        }

        pre {
            font-size: large;
        }

        .code {
            font-size: small;
            font-weight: 200;
        }

        .signature {
            float: right;
            font-size: 15px;
        }

        .line {
            width: 300px;
            height: 1px;
            border: 1px solid black;
        }

        .light {
            font-weight: 300;
        }
    </style>
</head>

<body>

    <div class="main-container">

        <div class="left">

        </div>


        <div class="right">
            <div class="logo-container">
                <div class="logo1"><img
                        src="https://res.cloudinary.com/dphaltxki/image/upload/v1708190625/kjjvgqakkwgn5s1zgwxi.png"
                        alt="logo"></div>
                <div class="logo2">
                    <!-- <h4>In Partnership width</h4> -->
                    <img src="https://res.cloudinary.com/dphaltxki/image/upload/v1708190609/lu36rhftojtb629nu7kq.png"
                        alt="logo">
                </div>
                <div class="logo3"><img
                        src="https://res.cloudinary.com/dphaltxki/image/upload/v1708190649/s2c6qx7xupnjngmdyzhd.png"
                        alt="logo">
                </div>
            </div>

            <h2>CERTIFICATE OF COMPLETION</h2>

            <h4>
                <%= date %>
            </h4>

            <u>
                <h1>
                    <b>
                        <%= name %>
                    </b>
                </h1>
            </u>

            <h2>Salesforce Developer Virtual Internship</h2>

            <div class="line"> </div>

            <pre>
During the 8 Weeks period of Virtual Internship(<b>October-
November 2023</b>),Manish N Devadiga has completed the following 
Salesforce Trailhead modules

<label class="light">
Salesforce Fundamentals
Organizational Setup
Relationship & Process Automation
Types Of Flows & Security
Apex, Testing & Debugging
VS Code Setup & CLI Setup
Lightning Web components (LWC) & API


Super Badge -Apex Specialist
Super Badge -Process Automation
Super Badge -Developer Super Set
</label>
<label class="code">
<b>Certificate ID:SISFVPAD2024-80333 | Verify this certificate @ https://smartinternz.com/in
ternships/salesforce_certificates/bd25cb3ebd25cb3ebd25cb3ebd25cb3ebd25cb6e</b></label>
</pre>
        </div>

    </div>
</body>

</html>